<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexandru.tigaeru.android.mydictapp"
    android:versionCode="1"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wb2"
        android:label="@string/app_name"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.alexandru.tigaeru.android.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alexandru.tigaeru.android.dialogs.SearchDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.alexandru.tigaeru.android.dialogs.AddWordDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.alexandru.tigaeru.android.dialogs.EditWordDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>

        <provider
            android:name="com.alexandru.tigaeru.android.db.WordsContentProvider"
            android:authorities="@string/auth"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.alexandru.tigaeru.android.dialogs.NewLessonNameDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity android:name="com.alexandru.tigaeru.android.dialogs.AboutDialogActivity" >
        </activity>
        <activity
            android:name="com.alexandru.tigaeru.android.main.PopupActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.alexandru.tigaeru.android.dialogs.NoNetworkDialogActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>